@import "tailwindcss";
@plugin '@tailwindcss/typography';
/* @plugin "daisyui"; */
/**/
/* @plugin "daisyui/theme" { */
/*   name: "dracula"; */
/*   default: false; */
/*   prefersdark: true; */
/*   color-scheme: "dark"; */
/*   --color-base-100: oklch(20% 0 0); */
/*   --color-base-200: oklch(26% 0 0); */
/*   --color-base-300: oklch(37% 0 0); */
/*   --color-base-content: oklch(97.747% 0.007 106.545); */
/*   --color-primary: oklch(79% 0.184 86.047); */
/*   --color-primary-content: oklch(15.092% 0.036 346.812); */
/*   --color-secondary: oklch(74.202% 0.148 301.883); */
/*   --color-secondary-content: oklch(14.84% 0.029 301.883); */
/*   --color-accent: oklch(82% 0.119 306.383); */
/*   --color-accent-content: oklch(42% 0.095 57.708); */
/*   --color-neutral: oklch(43% 0 0); */
/*   --color-neutral-content: oklch(87.889% 0.006 275.524); */
/*   --color-info: oklch(70% 0.165 254.624); */
/*   --color-info-content: oklch(17.652% 0.018 212.846); */
/*   --color-success: oklch(87.099% 0.219 148.024); */
/*   --color-success-content: oklch(17.419% 0.043 148.024); */
/*   --color-warning: oklch(66% 0.179 58.318); */
/*   --color-warning-content: oklch(19.106% 0.026 112.757); */
/*   --color-error: oklch(57% 0.245 27.325); */
/*   --color-error-content: oklch(13.644% 0.041 24.43); */
/*   --radius-selector: 0.5rem; */
/*   --radius-field: 0.5rem; */
/*   --radius-box: 0.5rem; */
/*   --size-selector: 0.25rem; */
/*   --size-field: 0.25rem; */
/*   --border: 1px; */
/*   --depth: 0; */
/*   --noise: 0; */
/* } */
/**/
/* @plugin "daisyui/theme" { */
/*   name: "cupcake"; */
/*   default: true; */
/*   prefersdark: false; */
/*   color-scheme: "light"; */
/*   --color-base-100: oklch(97.788% 0.004 56.375); */
/*   --color-base-200: oklch(93.982% 0.007 61.449); */
/*   --color-base-300: oklch(91.586% 0.006 53.44); */
/*   --color-base-content: oklch(23.574% 0.066 313.189); */
/*   --color-primary: oklch(79% 0.184 86.047); */
/*   --color-primary-content: oklch(21% 0.006 285.885); */
/*   --color-secondary: oklch(44% 0.017 285.786); */
/*   --color-secondary-content: oklch(85% 0.199 91.936); */
/*   --color-accent: oklch(89% 0.061 343.231); */
/*   --color-accent-content: oklch(47% 0.157 37.304); */
/*   --color-neutral: oklch(27% 0.006 286.033); */
/*   --color-neutral-content: oklch(92% 0.004 286.32); */
/*   --color-info: oklch(68% 0.169 237.323); */
/*   --color-info-content: oklch(29% 0.066 243.157); */
/*   --color-success: oklch(69% 0.17 162.48); */
/*   --color-success-content: oklch(26% 0.051 172.552); */
/*   --color-warning: oklch(76% 0.188 70.08); */
/*   --color-warning-content: oklch(28% 0.066 53.813); */
/*   --color-error: oklch(57% 0.245 27.325); */
/*   --color-error-content: oklch(27% 0.105 12.094); */
/*   --radius-selector: 1rem; */
/*   --radius-field: 2rem; */
/*   --radius-box: 1rem; */
/*   --size-selector: 0.25rem; */
/*   --size-field: 0.25rem; */
/*   --border: 2px; */
/*   --depth: 1; */
/*   --noise: 0; */
/* } */

@theme {
  --font-serif: "Frank Ruhl Libre Variable", serif;
  --font-sans: "Hanken Grotesk Variable", "Inter", sans-serif;
  --font-display: "Hanken Grotesk Variable", "Inter", sans-serif;

  --color-background: var(--color-neutral-50);
  --color-foreground: var(--color-neutral-900);
  --color-muted: var(--color-neutral-300);
  --color-muted-foreground: var(--color-neutral-600);
  --color-accent-foreground: var(--color-neutral-800);
  --color-accent-background: var(--color-neutral-50);
  --color-popover-background: var(--color-neutral-100);
  --color-popover-foreground: var(--color-neutral-900);
}
